* {
  font-family: "helvetica", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: rgb(62, 51, 103);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  top: 40vh;
  gap: 2vh;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.random {
  border-color: white;
  background-color: black;
  color: rgb(193, 194, 217);
  font-size: 3vh;
  height: 10vh;
  width: 50vh;
  color: rgb(193, 194, 217);
}

.movies {
  height: 4vh;
  width: 20vh;
  border-color: white;
  background-color: black;
  color: rgb(193, 194, 217);
}

.games {
  height: 4vh;
  width: 20vh;
  border-color: white;
  background-color: black;
  color: rgb(193, 194, 217);
}
