* {
  padding: 0px;
  margin: 0px;
  background-color: rgb(62, 51, 103);
}

.app {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random {
  align-self: center;
  font-family: "helvetica", sans-serif;
  font-size: 3vh;
  height: 5vh;
  width: 25vh;
  border-color: white;
  background-color: black;
  color: rgb(193, 194, 217)
}

button:hover {
  background-color: rgb(75, 75, 75);
}